*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Open Sans";
}

input, textarea, button{
    font-family: "Open Sans";
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container{
    width: 1010px;
    margin: 0 auto;
    padding: 0 15px;
}

.invisLink{
    position: relative;
    z-index: 1;
}

.invisLink > a{
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 7;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}

a:hover{
    text-decoration: none;
}

.clear::after{
    content: "";
    display: block;
    clear: both;
}

header .table{
    display: table;
    width: 100%;
}

header .left,
header .logo,
header .right{
    display: table-cell;
    width: 33.3333%;
    vertical-align: top;
}

header .left{
    text-align: left;
    padding-right: 20px;
}

header .logo{
    text-align: center;
}

header .right{
    text-align: right;
}


header .login{
    font-size: 13px;
    line-height: 19px;
    color: #0069b4;
}

header .menu a{
    font-size: 13px;
    line-height: 28px;
    color: #333333;
}

header .menu li{
    display: inline-block;
    margin-right: 18px;
}

header .phone{
    font-size: 20px;
    line-height: 20px;
    color: #333333;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header .phone:hover{
    color: #1a9547;
}

header .callback{
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #0069b4;
    border-bottom: 1px dashed #0069b4;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header .callback:hover{
    border-bottom: 1px dashed transparent;
}

header p.timing{
    font-size: 13px;
    line-height: 19px;
    color: #999999;
}

header .basket{
    font-size: 13px;
    line-height: 22px;
    color: #333333;
    text-decoration: none;
    display: inline-block;
    padding-left: 28px;
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

a.basket:hover{
    color: #1a9547;
}

header .basket span{
    color: #1a9547;
}

header [class*="icon"]{
    color: #cbebd4;
}

header .login [class*="icon"]{
    font-size: 19px;
}

header .phone [class*="icon"]{
    font-size: 20px;
}

.sale{
    height: 360px;
    width: 305px;
}

.slider{
    height: 360px;
    width: 640px;
}

.banner{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.banner > div {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner .slider .item{
    width: 640px;
    height: 360px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#customDots {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

#customDots button {
    padding: 0;
    border: none;
    background-color: #666666;
    border-radius: 50%;
    opacity: 0.7;
    margin: 0 4px;
    width: 10px;
    height: 10px;
}

#customDots button:hover {
    opacity: 1;
}

.advantages{
    width: calc(100% - 320px);
    float: left;
}

.advantages .item{
    width: 25%;
    float: left;
}

.advantages .item span{
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    color: #333333;
    display: block;
}

.advantages .item p{
    font-size: 12px;
    line-height: 14px;
    color: #666666;
}

.subscribe{
    background-color: #64b94a;
    width: 320px;
    float: left;
    padding: 20px;
}

.subscribe label{
    font-size: 16px;
    color: #ffffff;
}

.subscribe input{
    font-size: 13px;
    line-height: 37px;
    color: #999999;
    width: 100%;
    border: none;
    padding-left: 10px;
}

.subscribe input::placeholder{
    font-size: 13px;
    line-height: 37px;
    color: #999999;
}

.subscribe button{
    font-size: 13px;
    line-height: 37px;
    text-align: center;
    width: 190px;
    background-color: #259c47;
    color: #ffffff;
    border: none;
    vertical-align: middle;
    display: table-cell;
}

.subscribe .wrap span{
    font-size: 12px;
    color: rgba(255,255,255,0.5);
    display: table-cell;
    vertical-align: middle;
    padding-left: 17px;
}

.subscribe .wrap{
    display: table;
    width: 100%;
}

.filter li{
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px dashed #666666;
    display: inline-block;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.filter li:hover{
    border-bottom: 1px dashed transparent;
}

.filter li + li{
    margin-left: 20px;
}

.filter li a{
    text-decoration: none;
    color: #666666;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.card{
    position: relative;
    border-bottom: 1px solid #e4e4e4;
    z-index: 1;
}

.thumbnail{
    position: absolute;
    display: none;
    top: -12px;
    right: 2px;
    padding: 11px;
    width: 313px;
    height: 356px;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.thumbnail .pic{
    margin-bottom: 10px;
    width: 53px;
    height: 53px;
    background-size: cover;
    background-repeat: no-repeat;
}

.thumbnail .pic.active{
    border: 1px solid #259c47;
}

.status{
    position: absolute;
    display: block;
    top: -3px;
    left: -3px;
    width: 43px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}

.status.hit{
    background-color: #6eddcc;
}

.status.discount{
    background-color: #ffed03;
}

.status.new{
    background-color: #78ec71;
}

.card .img{
    width: 220px;
    height: 220px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card .title{
    font-size: 15px;
    line-height: 22px;
    color: #333333;
    display: block;
}

.card .content{
    min-height: 110px;
    position: relative;
}

.card .content .buy{
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100%;
}

.card a{
    font-size: 15px;
    line-height: 22px;
    color: #0069b4;
}

.card .price{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #333333;
    display: inline-block;
    vertical-align: top;
}

.card .price .old{
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    text-decoration: line-through;
    color: #666666;
    display: inline-block;
    vertical-align: top;
}

.card button{
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    width: 100px;
    background-color: #ff7200;
    border: none;
    display: block;
    float: right;
}

.widgets h1{
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: #666666;
}

.widgets .wrap{
    display: flex;
    justify-content: space-between;
}

.socialItem:first-child,
.socialItem:last-child{
    width: 290px;
    height: 400px;
}

.socialItem:nth-child(2){
    width: 350px;
    height: 400px;
}

.socialItem{
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.info .tabs li{
    display: inline-block;
    padding: 0px 15px;
}

.tabs li a{
    font-size: 14px;
    text-decoration: none;
    line-height: 45px;
    color: #999999;
}

.info .content{
    font-size: 12px;
    line-height: 18px;
    color: #333333;
}

.info .title{
    text-transform: uppercase;
    position: relative;
    padding-left: 25px;
    display: block;
}

.info .title::before{
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-top: 5px solid #333333;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -3px;
}

.info .title.active::before{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

footer{
    font-size: 13px;
    line-height: 22px;
    color: #ffffff;
    background-color: #64ba4a;
}

footer .footMenu{
    width: 50%;
    float: left;
}

.footMenu .col{
    width: 50%;
    float: left;
}

footer .contacts{
    width: 25%;
    float: left;
}

footer .copyright{
    width: 25%;
    float: left;
    text-align: right;
}

footer a{
    text-decoration: none;
    color: #ffffff;
}

footer a.socLink{
    font-size: 21px;
}

.content .breadcrumbs span{
    font-size: 13px;
    line-height: 22px;
    color: #999999;
    font-weight: normal;
}

.content .breadcrumbs a{
    text-decoration: none;
}

.content h2{
    font-size: 25px;
    line-height: 22px;
    font-weight: 600;
    color: #333333;
}

.content h3{
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #333333;
}

.content > span{
    font-size: 12px;
    line-height: 22px;
    font-weight: normal;
    color: #aaaaaa;
}

.content > p{
    font-size: 13px;
    line-height: 19px;
    font-weight: normal;
    color: #333333;
}

.content > a{
    font-size: 13px;
    line-height: 22px;
    color: #0069b4;
}

.content .field{
    width: 980px;
    height: 210px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #b3b3b3;
}

.up{
    position: fixed;
    left: 15px;
    bottom: 15px;
}

/*страница с оформлением заказа*/
.ORDER{
    height: 1500px;
}

.content .breadcrumbs li{
    display: inline-block;
    margin-top: 20px;
}

.content .breadcrumbs span{
    font-size: 13px;
    line-height: 22px;
    color: #999999;
    font-weight: normal;
}

.content .breadcrumbs a{
    text-decoration: none;
    font-size: 13px;
    line-height: 22px;
    color: #999999;
    font-weight: normal;
}

.content h2{
    font-size: 25px;
    line-height: 50px;
    color: #333333;
    font-weight: 600;
    display: block;
}

.formBlock label{
    font-size: 13px;
    line-height: 22px;
    color: #666666;
    font-weight: 500;
    font-style: italic;
    display: block;
    margin-top: 5px;
}

.formBlock .selectB1 option{
    font-size: 13px;
    line-height: 25px;
    color: #333333;
    font-weight: 400;
    display: block;
    height: 25px;
    width: 270px;
    border-bottom: 1px solid rgb(214, 214, 214, 0.30);
    background-color: rgb(255, 255, 255);
}

.formBlock > span{
    font-size: 15px;
    line-height: 22px;
    color: #333333;
    font-weight: 600;
    display: block;
    margin-top: 40px;
}

.formBlock .orderList{
    display: block;
    width: 47%;
}

.formBlock .orderList li{
    padding-top: 10px;
}

.formBlock .orderList label{
    font-size: 13px;
    line-height: 19px;
    color: #333333;
    font-weight: 400;
    font-style: normal;
}

.formBlock .orderList p{
    font-size: 12px;
    line-height: 18px;
    color: #666666;
    font-weight: 400;
}

.formBlock .orderList span{
    font-size: 12px;
    line-height: 18px;
    color: #f26522;
    font-weight: 400;
}

.ADRES{
    margin-top: -5px;
}

.ADRES > div{
    padding-top: 5px;
}

.ADRESS-1 input{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(214, 214, 214);
    background-color: rgb(255, 255, 255);
    width: 290px;
    height: 30px;
}

.ADRESS-2 div{
    display: inline-block;
    margin-left: 30px;
}

.ADRESS-2 div:nth-child(1){
    margin-left: 0px;
}

.ADRESS-2 div input{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(214, 214, 214);
    background-color: rgb(255, 255, 255);
    width: 60px;
    height: 30px;
}

.ADRESS-2 #flat{
    width: 100px;
    height: 30px;
}

.formBlock textarea{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(214, 214, 214);
    background-color: rgb(255, 255, 255);
    width: 290px;
    height: 105px;
}

.formBlock label span{
    color: #f26522;
}

.orderList li{
    padding-left: 40px;
}

.orderList label{
    position: relative;
    padding-left: 40px;
    margin-left: -40px;
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}

.IDENTIF{
    margin-top: -5px;
}

.IDENTIF div{
    padding-top: 5px;
}

.IDENTIF input{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(214, 214, 214);
    background-color: rgb(255, 255, 255);
    width: 290px;
    height: 30px;
}

.radioBtn{
    display: none;

}

.radioBtn:not(checked) + label::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    transition: all 0.3s;
}

.radioBtn:not(checked) + label::after{
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 7px;
    width: 8px;
    height: 8px;
    background-color: #51bf87;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s;
}

.radioBtn:checked + label::before{
    border-color: #51bf87;
}

.radioBtn:checked + label::after{
    opacity: 1;
}

.radioBtn + label{
    cursor: pointer;
}

form button{
    font-size: 14px;
    line-height: 35px;
    color: #ffffff;
    font-weight: 400;
    height: 35px;
    width: 190px;
    background-color: #ea5b0c;
    border: none;
    margin-top: 35px;
}

/*страница корпоративным клиентам*/

.container .CLIENT{
    height: 785px;
}

.CLIENT .breadcrumbs{
    margin-top: 5px;
}

.clientWrap .left{
    float: left;
    width: 305px;
}

.formClient{
    padding-left: 15px;
    background-color: #f9f9f9;
}

.clientWrap .right{
    padding-left: 40px;
    float: left;
    width: calc(100% - 305px);
}

.clientWrap p{
    font-size: 13px;
    line-height: 22px;
    color: #333333;
    font-weight: 400;
    display: block;
    margin-top: 15px;
}

.clientWrap .formClient label{
    font-style: italic;
    font-size: 13px;
    line-height: 22px;
    color: #666666;
    font-weight: 400;
    display: block;
    padding-top: 10px;
}

.ORG{
    margin-top: 20px;
}

#orgName,
#contact,
#phoneNum{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(214, 214, 214);
    background-color: rgb(255, 255, 255);
    width: 285px;
    height: 28px;
}


.formClient .printLogo div span:first-child{
    font-size: 13px;
    line-height: 22px;
    color: #333333;
    font-weight: 400;
    font-style: normal;
    display: block;
    margin-top: 5px;
}

.formClient .printLogo div span:last-child{
    font-size: 11px;
    line-height: 22px;
    color: #999999;
    font-weight: 400;
    font-style: normal;
    display: block;
    margin-top: -5px;
}

.formClient .printLogo div:nth-child(1){
    float: left;
    width: 60%;
}

.formClient .printLogo div:nth-child(2){
    float: left;
    width: 40%;
}

.formClient .cfix ul li{
    display: inline-block;
    position: relative;
    padding-left: 15px;
}

.formClient .cfix ul li input{
    display: inline-block;
}

.formClient .cfix ul li label{
    display: inline-block;
}


.formClient .cfix ul li:nth-child(1){
    padding-left: 0;
}

/*!*Кнопка да нет *!  не работает*/

/*.formClient .cfix .radioBtn2{*/
    /*display: none;*/

/*}*/

/*.formClient .cfix .radioBtn2:not(checked) + label::before{*/
    /*content: "";*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: 10px;*/
    /*left: 25px;*/
    /*width: 18px;*/
    /*height: 18px;*/
    /*border: 1px solid #d4d4d4;*/
    /*border-radius: 50%;*/
    /*transition: all 0.3s;*/
/*}*/

/*.formClient .cfix .radioBtn2:not(checked) + label::after{*/
    /*content: "";*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: 15px;*/
    /*left: 30px;*/
    /*width: 8px;*/
    /*height: 8px;*/
    /*background-color: #51bf87;*/
    /*border-radius: 50%;*/
    /*opacity: 0;*/
    /*transition: all 0.3s;*/
/*}*/

/*.formClient .cfix .radioBtn2:checked + label::before{*/
    /*border-color: #51bf87;*/
/*}*/

/*.formClient .cfix .radioBtn2:checked + label::after{*/
    /*opacity: 1;*/
/*}*/

/*.formClient .cfix .radioBtn2 + label{*/
    /*cursor: pointer;*/
/*}*/

/*конец кнопки*/

.formClient .cfix ul label{
    font-style: normal;
}

#addLogo{
    display: none;
}

.formClient .cfix > div:nth-child(2) label{
    font-size: 13px;
    line-height: 22px;
    color: #229647;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    display: block;
    margin-top: -5px;
}

.formClient div:nth-child(2) span{
    font-size: 11px;
    line-height: 22px;
    color: #999999;
    font-weight: 400;
    font-style: normal;
    display: block;
    margin-top: -5px;
}

.formClient .cfix > div:nth-child(3) label{
    margin-top: -5px;
}

.formClient .cfix > div:nth-child(3) select{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(214, 214, 214);
    background-color: rgb(255, 255, 255);
    width: 90px;
    height: 30px;
    font-size: 13px;
    line-height: 22px;
    color: #333333;
    font-weight: normal;
    font-style: normal;
}

.formClient .cfix textarea{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(214, 214, 214);
    background-color: rgb(255, 255, 255);
    width: 280px;
    height: 125px;
}

.formClient .cfix button{
    background-color: rgb(255, 114, 0);
    width: 130px;
    height: 35px;
    margin-top: 20px;
}

.CLIENT .clientWrap .right h3{
     font-size: 25px;
     line-height: 22px;
     color: #333333;
     font-weight: 600;
    padding-top: 20px;
 }

.CLIENT .clientWrap .right p{
    font-size: 13px;
    line-height: 22px;
    color: #333333;
    font-weight: 400;
    margin-top: 15px;
}

.CLIENT .clientWrap .right div p:nth-child(3){
    margin-top: 15px;
}

.CLIENT .clientWrap .right button{
    font-size: 14px;
    line-height: 35px;
    color: #ffffff;
    font-weight: 400;
    height: 35px;
    width: 195px;
    background-color: rgb(100, 186, 74);
    border: none;
    margin-top: 25px;
}

.info.ui-tabs{
    padding: 0;
}

.info.ui-tabs .ui-tabs-nav{
    padding: 0;
}

.info.ui-tabs .ui-tabs-nav li{
    margin: 0;
    padding: 0;
}

.info .tabs a{
    display: block;
    font-size: 14px;
    color: #999999;
    text-decoration: none;
    padding: 0 15px;
    outline: none;
    height: 45px;
    line-height: 45px;
}

.info.ui-tabs .ui-tabs-nav li.ui-tabs-active{
    margin: 0;
    padding: 0;
}

.info.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
    padding: 0 15px;
}

.info.ui-tabs .ui-tabs-panel{
    padding: 0;
}

.info .tabs li.ui-tabs-active a,
.info .tabs li a:hover{
    border: none;
    background-color: #f2fff7;
    color: #1c9847;
    cursor: pointer;
}

.selectB1{
    width: 290px;
}

.selectB1 .selectric{
    width: 100%;
    height: 28px;
    background-color: #fff;
    border:  1px solid #d6d6d6;
}

.selectB1 .selectric .label{
    font-size: 13px;
    line-height: 26px;
    color: #333333;
}

.selectB1 .selectric .button{
    position: absolute;
    right: 7px;
    top: 50%;
    width: 0px;
    height: 0px;
    border-top: 7px solid #00a48c;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    margin-top: -2px;
    background-color: transparent;
}

.selectB1 .selectric .button::after{
    display: none;
}

.selectB1 .selectric-items{
    border: 1px solid #d6d6d6;
}

.selectB1 .selectric-items li{
    padding: 0;
    padding-left: 10px;
    font-size: 13px;
    line-height: 26px;
    color: #333333;
    background-color: #ffffff;
}

.selectB1 .selectric-items li:hover{
    background-color: rgba(0,0,0,0.1);
}












/*Адаптация страниц*/

@media (max-width: 1199px) {
    .container{
        width: 980px;
    }

    .sale{
        height: 350px;
        width: 295px;
    }

    .slider{
        height: 350px;
        width: 620px;
    }

    .subscribe{
        width: 300px;
    }

    .advantages{
        width: calc(100% - 300px);
    }

    .widgets{
        display: none;
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card{
        flex: 0 0 250px;
    }

}

@media (max-width: 991px) {
    .container{
        width: 780px;
    }
}

@media (max-width: 767px) {
    .container{
        width: 100%;
    }

    header{
        width: 100%;
        height: 115px;
        background-color: #63ba49;
    }

    header .left{
        display: none;
    }

    header .logo img{
        display: none;
    }

    header .logo{
        background-image: url("../img/png/logo_mobile.png");
    }

    header .right{
        display: none;
    }

    .banner{
        display: none;
    }

    .advSab{
        display: none;
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    .card{
        display: block;
        flex: 0 0 250px;
    }

    .widgets{
        display: none;
    }

    .info{
        display: none;
    }

    .accordion{
        display: none;
    }

}
